<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="https://unpkg.com/mvp.css">
    <title>Document</title>
</head>
<body>
    <form id="createRoom">
        <input type="text", placeholder="Room Name", required>
        <button>Create Room</button>
    </form>

    <div id="dataContainer"></div>


    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const createRoomForm = document.getElementById("createRoom");

        const handleCreateBtnClick = (event)=>{
            event.preventDefault();
            const input = createRoomForm.querySelector("input");
            let content = input.value;
            alert(`Room: ${content} created!`);
            window.location.href = `/room/${content}`;
        }

        function goToRoom(room) {
            // 해당 방으로 이동합니다.
            window.location.href = `/room/${room}`;
        }

        fetch('/testdata')
            .then(response => response.json())
            .then(data => {
                // 받아온 데이터를 사용합니다.
                let rooms = '';
                for(const room in data){
                    rooms += `<div class="room">방 이름 : ${room} (접속 인원 : ${data[room].peers.length} 명)<br>`;
                    rooms += `<button onclick="goToRoom('${room}')">Join</button><br></div>`;
                }
                document.getElementById('dataContainer').innerHTML = rooms;
            })
            .catch(error => {
                console.error('데이터를 가져오는 중 오류가 발생했습니다:', error);
            });
        
        
        createRoomForm.addEventListener("submit", handleCreateBtnClick);
    
    </script>
</body>
</html>